@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
/* line 81, ../sass/includes/_mixins.scss */
div.container, section.container {
  width: 100vw !important;
  max-width: 100vw !important;
  margin: 0;
}

/* line 86, ../sass/includes/_mixins.scss */
section.wide {
  width: 100vw !important;
  margin: 25px 0;
}

/* line 90, ../sass/includes/_mixins.scss */
.center {
  text-align: center;
}

/* line 93, ../sass/includes/_mixins.scss */
.v-container {
  display: table;
}

/* line 96, ../sass/includes/_mixins.scss */
.v-container .vac {
  display: table-cell;
  vertical-align: middle;
}

/* line 101, ../sass/includes/_mixins.scss */
li {
  list-style: none;
}

/* line 103, ../sass/includes/_mixins.scss */
ul.inline li {
  display: inline-block;
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 5, ../sass/admin.scss */
body {
  overflow-x: hidden;
  font-family: "roboto slab", sans-serif;
}

/* line 11, ../sass/admin.scss */
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none;
}

/* line 15, ../sass/admin.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "roboto slab", sans-serif;
}

/* line 20, ../sass/admin.scss */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  left: 50%;
}

/* line 31, ../sass/admin.scss */
.pace-inactive {
  display: none;
}

/* line 35, ../sass/admin.scss */
.pace .pace-progress {
  background: #7f8ed1;
  position: fixed;
  z-index: 999999;
  top: 0;
  width: 100%;
  right: 100%;
  height: 2px;
}

/* line 51, ../sass/admin.scss */
.Dashboard header {
  height: 40px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}
/* line 55, ../sass/admin.scss */
.Dashboard header .right-nav {
  float: right;
  margin-top: 0;
  margin-right: 7%;
}
/* line 62, ../sass/admin.scss */
.Dashboard header .right-nav .user-div i {
  padding: 12px;
  font-size: 18px;
  color: #5a5a5a;
}
/* line 70, ../sass/admin.scss */
.Dashboard header .right-nav ul.user-info {
  border: 1px solid #ccc;
  position: absolute;
  margin: 0;
  padding: 10px;
  right: 3%;
  width: 14%;
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}
/* line 85, ../sass/admin.scss */
.Dashboard header .right-nav ul.user-info li a {
  display: block;
  color: #5a5a5a;
  padding: 5px 10px;
  text-align: center;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 92, ../sass/admin.scss */
.Dashboard header .right-nav ul.user-info li a:hover {
  color: #fff;
  background: #5a5a5a;
}
/* line 99, ../sass/admin.scss */
.Dashboard header .right-nav ul.user-info li.img {
  height: 100px;
  overflow: hidden;
  width: 100px;
  border-radius: 100px;
  margin: 0 auto 15px;
}
/* line 106, ../sass/admin.scss */
.Dashboard header .right-nav ul.user-info li.img img {
  height: 100px;
  width: 100%;
}
/* line 113, ../sass/admin.scss */
.Dashboard header .left-nav {
  float: left;
  margin-left: 20%;
  padding-left: 60px;
  margin-top: 0;
}
/* line 120, ../sass/admin.scss */
.Dashboard header .left-nav li {
  display: inline-block;
}
/* line 123, ../sass/admin.scss */
.Dashboard header .left-nav li i {
  padding: 12px;
  font-size: 18px;
  color: #5a5a5a;
}
/* line 129, ../sass/admin.scss */
.Dashboard header .left-nav li ul.submenu {
  border: 1px solid #ccc;
  position: absolute;
  margin: 0;
  padding: 10px 0;
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}
/* line 140, ../sass/admin.scss */
.Dashboard header .left-nav li li {
  display: block;
}
/* line 143, ../sass/admin.scss */
.Dashboard header .left-nav li li p {
  margin: 0;
  font-size: 18px;
  font-family: "roboto slab", sans-serif;
}
/* line 149, ../sass/admin.scss */
.Dashboard header .left-nav li li a {
  color: #5a5a5a;
  display: block;
  padding: 10px 15px;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 156, ../sass/admin.scss */
.Dashboard header .left-nav li li a:hover {
  color: #fff;
  background: #5a5a5a;
}
/* line 162, ../sass/admin.scss */
.Dashboard header .left-nav li li.title {
  margin-bottom: 10px;
  padding: 0 15px;
}
/* line 166, ../sass/admin.scss */
.Dashboard header .left-nav li li.title a {
  color: #7f8ed1;
  padding: 0;
  padding-top: 5px;
}
/* line 171, ../sass/admin.scss */
.Dashboard header .left-nav li li.title a:hover {
  color: #44549b;
  background: transparent;
}
/* line 181, ../sass/admin.scss */
.Dashboard .sidenav {
  width: 20%;
  float: left;
  position: absolute;
  min-height: 100vh;
  top: 0;
  background: #fff;
  border-right: 1px solid #eee;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}
/* line 192, ../sass/admin.scss */
.Dashboard .sidenav .logo-div {
  padding: 20px;
  padding-left: 40px;
  position: relative;
}
/* line 197, ../sass/admin.scss */
.Dashboard .sidenav .logo-div a {
  overflow: hidden;
}
/* line 200, ../sass/admin.scss */
.Dashboard .sidenav .logo-div a img {
  width: 200px;
}
/* line 205, ../sass/admin.scss */
.Dashboard .sidenav .logo-div .nav-toggle {
  position: absolute;
  right: -40px;
  top: 8px;
}
/* line 210, ../sass/admin.scss */
.Dashboard .sidenav .logo-div .nav-toggle i {
  font-size: 22px;
  padding-top: 10px;
  color: #5a5a5a;
  cursor: pointer;
}
/* line 219, ../sass/admin.scss */
.Dashboard .sidenav ul.navs {
  padding: 5px;
}
/* line 221, ../sass/admin.scss */
.Dashboard .sidenav ul.navs li {
  overflow: hidden;
}
/* line 223, ../sass/admin.scss */
.Dashboard .sidenav ul.navs li a {
  display: block;
  padding: 5px 30px;
  color: #5a5a5a;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 231, ../sass/admin.scss */
.Dashboard .sidenav ul.navs li a:hover {
  background: #5a5a5a;
  color: #fff;
}
/* line 236, ../sass/admin.scss */
.Dashboard .sidenav ul.navs li a i {
  margin-right: 10px;
}
/* line 241, ../sass/admin.scss */
.Dashboard .sidenav ul.navs li ul.submenu {
  margin-left: 40px;
  border-left: 1px solid #ccc;
  height: 0;
  -webkit-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
/* line 245, ../sass/admin.scss */
.Dashboard .sidenav ul.navs li ul.submenu a {
  padding: 5px 10px;
}
/* line 252, ../sass/admin.scss */
.Dashboard .sidenav ul.navs li:hover ul.submenu {
  height: 70px;
}
/* line 258, ../sass/admin.scss */
.Dashboard .sidenav ul.navs li.sites:hover ul.submenu {
  height: 175px;
}
/* line 267, ../sass/admin.scss */
.Dashboard .page-wrap {
  width: 80%;
  float: right;
  padding: 30px 5%;
  overflow: hidden;
}
/* line 273, ../sass/admin.scss */
.Dashboard .page-wrap img {
  max-width: 250px;
}
